// Fonts
$font-family-body = serif
$font-family-mono = "Source Code Pro", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.725

// Colors
$color-background = #fff
$color-link = rgba(212, 128, 170, 1) // vimeo: :selection with alpha=1
$color-link-text = #4e947b
$color-text = #666666
$color-light = #7a968c
$color-lightest = #416558

$color-accent = #2bbc8a
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"